<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-white" routerLink="">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" routerLink="phani">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<div class="flex-container">
  <div class="d-flex">
    <div class="col-3 shadow-lg mt-4 p-3">
      <div class="card">
        <div class="card-header bg-warning">
          <h4 class="card-title text-danger">Welcome</h4>
        </div>
        <div class="card-body">
          <p class="lead">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur, illum vero! Culpa nulla perferendis quaerat earum,
            quia a doloribus incidunt cupiditate. Ex autem provident,
            accusantium asperiores voluptate quasi animi sequi?
          </p>
          <div class="display-4">
            {{ getCurrentTime() | date : "mediumTime" }}
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 col border border- border-danger">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <app-interpolationex></app-interpolationex>
<app-propertybindingex></app-propertybindingex>
<app-eventbindingex></app-eventbindingex>
<app-twowaybindingex></app-twowaybindingex>

 
<app-registration></app-registration> -->

<!-- <app-parent-simple></app-parent-simple> -->

<!-- <app-parent></app-parent> -->

<!-- <app-parent-complex></app-parent-complex> -->
